{% extends "partials/base.html" %}
{% load humanize %}
{% load static %}
{% block content  %}

    <main class="main">

        <!-- Page Title -->
        <div class="page-title">
            <div class="heading">
            <div class="container">
                <div class="row d-flex justify-content-center text-center">
                <div class="col-lg-8">
                    <h1 class="heading-title">{{booking.apartment.name}}</h1>
                    <p class="mb-0">
                    Listed by <strong>{{booking.apartment.agent.full_name}}</strong>
                    </p>
                </div>
                </div>
            </div>
            </div>
            <nav class="breadcrumbs">
            <div class="container">
                <ol>
                <li><a href="index.html">Home</a></li>
                <li class="current">Property Details</li>
                </ol>
            </div>
            </nav>
        </div><!-- End Page Title -->

        <!-- Property Details Section -->
        <section id="property-details" class="property-details section">

            <div class="container" data-aos="fade-up" data-aos-delay="100">

            <div class="row gy-4">

                <div class="col-lg-8">

                    <!-- Property Gallery -->
                    <div class="property-gallery" data-aos="fade-up" data-aos-delay="200">
                        <!-- MAIN IMAGE -->
                        <div class="main-image-container">
                            <img id="main-house-image" src="{{ booking.apartment.image.url }}" alt="Property Image" class="img-fluid main-property-image">
                        </div>
                        <!-- THUMBNAILS -->
                        <div class="thumbnail-gallery thumbnail-list">
                            <div class="thumbnail-item" data-image="{{ booking.apartment.image.url }}">
                                <img src="{{ booking.apartment.image.url }}" alt="Property Image" class="img-fluid">
                            </div>
                            {% for g in booking.apartment.apartment_gallery.all %}
                                <div class="thumbnail-item" data-image="{{ g.image.url }}">
                                    <img src="{{ g.image.url }}" alt="Property Image" class="img-fluid">
                                </div>
                            {% endfor %}
                        </div>
                    </div>

                    <script>
                        document.querySelectorAll('.thumbnail-item').forEach(item => {
                            item.addEventListener('click', () => {
                                const imageUrl = item.getAttribute('data-image');
                                document.getElementById('main-house-image').src = imageUrl;
                            });
                        });
                    </script>
                    <!-- End Property Gallery -->

                </div>

                <div class="col-lg-4">

                <!-- Property Overview -->
                <div class="property-overview sticky-top" data-aos="fade-up" data-aos-delay="200">
                    <div class="price-tag">${{booking.apartment.price|floatformat:2|intcomma}}/day</div>
                    <div class="property-status">For Rent</div>

                    <div class="property-address">
                    <h4>{{booking.apartment.state}}, {{booking.apartment.city}}</h4>
                    <p>{{booking.apartment.address}}</p>
                    </div>

                    <div class="property-stats">
                        <div class="stat-item">
                        
                            <div>
                            <span class="value">Full Name</span>
                            <span class="label">{{booking.full_name}}</span>
                            </div>
                        </div><br>
                        <div class="stat-item">
                        
                            <div>
                            <span class="value">Phone</span>
                            <span class="label">{{booking.phone}}</span>
                            </div>
                        </div><br>
                        <div class="stat-item">
                            
                            <div>
                            <span class="value">Email</span>
                            <span class="email-label">{{booking.email}}</span>
                            </div>
                        </div>
                        <br>
                        
                        <div class="stat-item">
                        
                            <div>
                            <span class="value">Check In</span>
                            <span class="label">{{booking.check_in_date}}</span>
                            </div>
                        </div><br>
                        <div class="stat-item">
                        
                            <div>
                                <span class="value">Check Out</span>
                                <span class="label">{{booking.check_out_date}}</span>
                            </div>
                        </div>
                       <br>
                       <div class="stat-item">
                            
                            <div>
                            <span class="value">Total Days</span>
                            <span class="label">{{booking.total_days}}</span>
                            </div>
                        </div><br>
                        <div class="stat-item">
                        
                            <div>
                                <span class="value">Total</span>
                                <span class="label">${{booking.total|floatformat:2|intcomma}}</span>
                            </div>
                        </div>
                    </div>

                  

                    <!-- Contact Form -->
                    <div class="contact-form">
                        <!-- <h4>Schedule a Tour</h4> -->
                         <!-- <input type="hidden" name="csrfmiddlewaretoken" value="{% csrf_token %}"> -->
                        <div class="payment-form">
                            <!-- <h4>Complete Payment</h4> -->
                            <button id="checkout-button" class="btn rounded text-white w-100 mb-3" style="background-color: blueviolet;">
                            Pay with Stripe <i class="fas fa-credit-card"></i>
                        </button>
                        </div>
                        <!-- <input type="hidden" name="csrfmiddlewaretoken" value="{% csrf_token %}"> -->
                         


                        <!-- Stripe.js Integration -->
                        <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
                        <script src="https://js.stripe.com/v3/"></script>   <!-- Stripe -->

                        <!-- Stripe Script -->
                        <script>
                            var stripe = Stripe('{{stripe_publishable_key}}')
                            var checkoutButton = document.getElementById('checkout-button')

                            checkoutButton.addEventListener('click', function(){
                                var email = '{{booking.email}}'

                                checkoutButton.innerHTML = 'Processing <i class="fas fa-spinner fa-spin"></i>';

                                // var csrfToken = '{{ csrf_token }}';

                                
                                fetch('/api/create_checkout_session/{{booking.booking_id}}/', {
                                    method: 'POST',
                                    // headers: {
                                    // 'Content-Type': 'application/json',
                                    // 'X-CSRFToken': csrfToken 
                                    // },
                                    body: JSON.stringify({email:email}),

                                }).then(function(res){
                                    console.log(res);
                                    console.log(stripe);
                                    
                                    
                                    return res.json();
                                }).then(function(session){
                                    return stripe.redirectToCheckout({sessionId: session.sessionId})
                                }).then(function(result){
                                    if (result.error){
                                        alert(result.error.message)
                                    }
                                })
                                .catch(function(error){
                                    console.log('Error:', error);
                                    
                                })
                                
                            });
                        </script>
                        

                        
                        


                            <!-- <script>
                                var stripe = Stripe('{{stripe_public_key}}');
                                var checkoutButton = document.getElementById('checkout-button');

                                checkoutButton.addEventListener('click', function(){
                                    var email = '{{booking.email}}'

                                    checkoutButton.innerHTML = 'Processing <i class="fas fa-spinner fa-spin"></i>';

                                    
                                    fetch("/api/checkout_session/{{booking.booking_id}}/", {
                                        method: 'POST',
                                        body: JSON.stringify({email:email}),

                                    }).then(function(res){
                                        console.log(res);
                                        console.log(stripe);
                                        
                                        
                                        return res.json();
                                    }).then(function(session){
                                        return stripe.redirectToCheckout({sessionId: session.sessionId})
                                    }).then(function(result){
                                        if (result.error){
                                            alert(result.error.message)
                                        }
                                    })
                                    .catch(function(error){
                                        console.log('Error:', error);
                                        
                                    })
                                    
                                });
                            </script> -->
                        <!-- End -->
                    
                    </div><!-- End Contact Form -->

                    <!-- Social Share -->
                    <div class="social-share">
                    <h5>Share This Property</h5>
                    <div class="share-buttons">
                        <a href="#" class="share-btn facebook"><i class="bi bi-facebook"></i></a>
                        <a href="#" class="share-btn twitter"><i class="bi bi-twitter"></i></a>
                        <a href="#" class="share-btn whatsapp"><i class="bi bi-whatsapp"></i></a>
                        <a href="#" class="share-btn email"><i class="bi bi-envelope"></i></a>
                        <a href="#" class="share-btn print"><i class="bi bi-printer"></i></a>
                    </div>
                    </div><!-- End Social Share -->

                </div><!-- End Property Overview -->

                </div>

            </div>

            </div>

        </section><!-- /Property Details Section -->

    </main>

{% endblock %}