{% load humanize %}
<div class="row g-4" id="house-list">
    {% for h in houses %}
        <div class="col-lg-6 col-md-6">
            <div class="property-card">
                <div class="property-image">
                    <a href="{% url 'core:house_details' h.hid h.agent.agent_id %}"><img src="{{h.image.url}}" alt="Modern Family Home" class="img-fluid" /></a>
                    <div class="property-badges">
                        {% if a.featured == True %}
                            <span class="badge featured">Featured</span>
                        {%endif %}
                        
                    </div>
                    <div class="property-overlay">
                        <button class="favorite-btn"><i class="bi bi-heart"></i></button>
                        <!-- <button class="gallery-btn" data-count="12"><i class="bi bi-images"></i></button> -->
                    </div>
                </div>
                <div class="property-content">
                    <div class="property-price">${{h.price|floatformat:0|intcomma}}</div>
                    <h4 class="property-title">{{h.name}}</h4>
                    <p class="property-location"><i class="bi bi-geo-alt"></i> {{h.address}}</p>
                    <div class="property-features">
                        <span><i class="bi bi-house"></i> {{h.bedrooms}} Bed</span>
                        <span><i class="bi bi-water"></i> {{h.bathrooms}} Bath</span>                                            
                        <span><i class="bi bi-car-front"></i> {{h.garage|default:0}} garage</span>                                                
                        <!-- <span><i class="bi bi-arrows-angle-expand"></i>{{h.sq_ft}} sqft</span> -->
                    </div>
                    <div class="property-agent">
                        <img src="{{h.agent.image.url}}" alt="Agent" class="agent-avatar" />
                        <div class="agent-info">
                            <strong>{{h.agent.full_name}}</strong>
                            <div class="agent-contact">
                                <small><i class="bi bi-telephone"></i> {{h.agent.phone}}</small>
                            </div>
                        </div>
                    </div>
                    <a href="{% url 'core:house_details' h.hid h.agent.agent_id %}" class="btn btn-primary w-100">View Details</a>
                </div>
            </div>
        </div>
    {% empty %}
        <div class="col-12">
            <p>No house was found matching your criteria.</p>
        </div>
    {% endfor %}
    <!-- End Property Item -->

    
</div>